<div class="container">
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img src="../../assets/Crousel/a.jpg" width="1294px" height="401px">
            </div>
        </ng-template>
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img src="../../assets/Crousel/b.jpg" width="1294px" height="401px">
            </div>
        </ng-template>
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img src="../../assets/Crousel/d.png" width="1294px" height="401px">
            </div>
        </ng-template>
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img src="../../assets/Crousel/h.jpg" width="1294px" height="401px">
            </div>
        </ng-template>
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img src="../../assets/Crousel/j.png" width="1294px" height="401px">
            </div>
        </ng-template>
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img src="../../assets/Crousel/l.png" width="1294px" height="401px">
            </div>
        </ng-template>
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img src="../../assets/Crousel/v.png" width="1294px" height="401px">
            </div>
        </ng-template>
    </ngb-carousel>
</div>







