
<div class="slider">
    <img src="../../assets/098.jpg" height="450px" width="1510px">
    <div class="name">
        <h1 id="app"></h1>
    </div>
    <div class="search-box">
        <h5>Book Bus Tickets</h5>
        <div class="main">
            <select class="service">
                <option value="all services">All Services</option>
                <option value="all services">Daewoo</option>
                <option value="all services">Faisal Movers</option>
                <option value="all services">Bilal Tavel</option>
                <option value="all services">Skyways</option>
                <option value="all services">Sania Express</option>
                <option value="all services">Waheed Travels</option>
                <option value="all services">Warraich Travels</option>
                <option value="all services">Dilawar Khan Travels</option>
                <option value="all services">Niazi Travels</option>
                <option value="all services">Shahid Travels</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
            </select>
            <select class="service1">
                <option value="Select Departure">Select Departure</option>
                <option value="all services">Peshawar</option>
                <option value="all services">Rawalpindi</option>
                <option value="all services">Islamabad</option>
                <option value="all services">Karacho</option>
                <option value="all services">Lahore</option>
                <option value="all services">Multan</option>
                <option value="all services">Quetta</option>
                <option value="all services">DG Khan</option>
                <option value="all services">Kohat</option>
                <option value="all services">Abbotabad</option>
                <option value="all services">Gujranwala</option>
                <option value="all services">Bahawalpur</option>
                <option value="all services">Rahim Yar Khan</option>
                <option value="all services">Gujrat</option>
                <option value="all services">swat</option>
                <option value="all services">Mansehra</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
            </select>
            <select class="service2">
                <option value="Select Arrival">Select Arrival</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
                <option value="all services">All Services</option>
            </select>
                <input type="date" name="" value=""  class="date">
                <button type="button" class="book">BOOKME</button>
        </div>
    </div>
    
   
</div>


